<hibernate-configuration>
    <session-factory>
  		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/instituto</property>
        <property name="hibernate.connection.username">2Dam</property>
        <property name="hibernate.connection.password">2Dam</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

   </session-factory>

</hibernate-configuration>
